<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.collectdata_01">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ManageFakeGarden"></activity>
        <activity android:name=".Datalist" />
        <activity
            android:name="com.example.collectdata.BuweiActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".DrawActivity" />
        <activity
            android:name="com.example.collectdata.MessageActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.example.collectdata.BuildingMessageActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.example.collectdata.DataActivity" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity android:name="com.example.BuildingMessage.BuildingActivity" />
        <activity android:name="com.example.test.GardenMessage" />
        <activity android:name="com.example.map.baidu_map.BaiduMapActivity" />
        <activity android:name="com.example.map.tecent_map.TecentActivity" />
        <activity android:name="com.example.map.aMap.AmapActivity" />
        <activity android:name="com.example.map.google.GoogleMapActivity" />
        <activity android:name=".ResultActivity" />
        <activity android:name=".CollectActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name="com.example.login.updatePassword" />
        <activity android:name="com.example.collectdata.NearByActivity" />
        <activity android:name="com.example.login.login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- <activity android:name="com.example.map.baidu_map.BaiduMapActivity"> -->

        </activity> <!-- <activity android:name="MainActivity"> -->
        <!-- &lt;!&ndash;        <activity android:name="com.example.map.baidu_map.BaiduMapActivity">&ndash;&gt; -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="86ff64a340f6e38517841ceac23fa26c" />
        <meta-data
            android:name="TencentMapSDK"
            android:value="ALWBZ-QJ7CF-HHXJB-NUV2D-RT5KO-CIBIT" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="ecAAwxIHYrAOQ6dNE18y4giPZY08Fw3i" />
    </application>

</manifest>